sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
	text-align:center
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"TOOAUD+LMRoman10-Regular-Identity-H";
	src:url("be57ee6a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.909092em;
	font-family: "TOOAUD+LMRoman10-Regular-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.417em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 0.909092em;
	font-family: "TOOAUD+LMRoman10-Regular-Identity-H", "Times New Roman";
	color: #808080;
}
@font-face {
	font-family:"BJKLKU+FandolSong-Regular-Identity-H";
	src:url("bb6a7cb5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 0.909092em;
	font-family: "BJKLKU+FandolSong-Regular-Identity-H", "Times New Roman";
	color: #808080;
}
.stl_12 {
	line-height: 1.254em;
}
.stl_13 {
	letter-spacing: -0.0014em;
}

.ie .stl_13 {
	letter-spacing: -0.0196px;
}
@font-face {
	font-family:"GDRVCP+FandolSong-Bold-Identity-H";
	src:url("166518d3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1.434617em;
	font-family: "GDRVCP+FandolSong-Bold-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_15 {
	line-height: 1.297em;
}
.stl_16 {
	font-size: 0.909092em;
	font-family: "BJKLKU+FandolSong-Regular-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_17 {
	font-size: 0.996267em;
	font-family: "GDRVCP+FandolSong-Bold-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_18 {
	font-size: 0.909092em;
	font-family: "GDRVCP+FandolSong-Bold-Identity-H", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"OHWUBR+FandolKai-Regular-Identity-H";
	src:url("17ba3a76-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.909092em;
	font-family: "OHWUBR+FandolKai-Regular-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_20 {
	line-height: 1.25em;
}
@font-face {
	font-family:"TRCJIK+LMRoman10-Bold-Identity-H";
	src:url("a15bf8c5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.830217em;
	font-family: "TRCJIK+LMRoman10-Bold-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_22 {
	line-height: 1.428em;
}
.stl_23 {
	font-size: 0.830217em;
	font-family: "BJKLKU+FandolSong-Regular-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_24 {
	font-size: 0.830217em;
	font-family: "TOOAUD+LMRoman10-Regular-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0025em;
}

.ie .stl_25 {
	letter-spacing: -0.037px;
}
.stl_26 {
	letter-spacing: -0.0028em;
}

.ie .stl_26 {
	letter-spacing: -0.0407px;
}
.stl_27 {
	letter-spacing: -0.0079em;
}

.ie .stl_27 {
	letter-spacing: -0.1143px;
}
.stl_28 {
	letter-spacing: -0.0104em;
}

.ie .stl_28 {
	letter-spacing: -0.1509px;
}
.stl_29 {
	letter-spacing: -0.028em;
}

.ie .stl_29 {
	letter-spacing: -0.4073px;
}
.stl_30 {
	letter-spacing: -0.0027em;
}

.ie .stl_30 {
	letter-spacing: -0.0389px;
}
.stl_31 {
	letter-spacing: -0.0054em;
}

.ie .stl_31 {
	letter-spacing: -0.0785px;
}
.stl_32 {
	letter-spacing: -0.0015em;
}

.ie .stl_32 {
	letter-spacing: -0.0214px;
}
.stl_33 {
	letter-spacing: -0.003em;
}

.ie .stl_33 {
	letter-spacing: -0.0436px;
}
.stl_34 {
	font-size: 0.909092em;
	font-family: "TRCJIK+LMRoman10-Bold-Identity-H", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"OICAMV+LMRoman10-Italic-Identity-H";
	src:url("4fe50532-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.909092em;
	font-family: "OICAMV+LMRoman10-Italic-Identity-H", "Times New Roman";
	color: #000000;
}
.stl_36 {
	line-height: 1.415em;
}
.stl_37 {
	letter-spacing: -0.0144em;
}

.ie .stl_37 {
	letter-spacing: -0.2099px;
}
.stl_38 {
	letter-spacing: -0.0162em;
}

.ie .stl_38 {
	letter-spacing: -0.2351px;
}
.stl_39 {
	letter-spacing: -0.0073em;
}

.ie .stl_39 {
	letter-spacing: -0.1058px;
}
.stl_40 {
	letter-spacing: -0.0151em;
}

.ie .stl_40 {
	letter-spacing: -0.22px;
}
.stl_41 {
	letter-spacing: -0.0101em;
}

.ie .stl_41 {
	letter-spacing: -0.1469px;
}
.stl_42 {
	letter-spacing: -0.0097em;
}

.ie .stl_42 {
	letter-spacing: -0.1413px;
}
.stl_43 {
	letter-spacing: -0.0146em;
}

.ie .stl_43 {
	letter-spacing: -0.2119px;
}
.stl_44 {
	letter-spacing: -0.0273em;
}

.ie .stl_44 {
	letter-spacing: -0.3976px;
}
.stl_45 {
	letter-spacing: -0.0119em;
}

.ie .stl_45 {
	letter-spacing: -0.1575px;
}
.stl_46 {
	letter-spacing: -0.0023em;
}

.ie .stl_46 {
	letter-spacing: -0.031px;
}
.stl_47 {
	letter-spacing: -0.0277em;
}

.ie .stl_47 {
	letter-spacing: -0.4024px;
}
